:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --p-color: #777;
    --p-line: 1.8;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}



/* small */

@media (min-width : 768px) {
    .container {
        width: 750px;
    }
}

/* medium */

@media (min-width : 992px) {
    .container {
        width: 970px;
    }
}

/* large */

@media (min-width : 1200px) {
    .container {
        width: 1170px;
    }
}

/* Start Components */
.Special-heading {
    font-weight: 800;
    text-align: center;
    color: #ebeced;
    font-size: 100px;
    margin: 0;
    letter-spacing: -3px;
}

.Special-heading+p {
    text-align: center;
    margin: -30px 0 0;
    font-size: 20px;
    color: #797979;
}

.Design {
    color: var(--main-color);
    font-size: 25px;
}

@media (max-width : 767px) {
    .Special-heading {
        font-size: 60px;
    }

    .Special-heading+p {
        margin-top: -20px;
    }
}

/* End Components */

/* Start Header  */
.fa-jelly {
    color: blue;
    font-size: 50px;
}

.header {
    padding: 20px;

}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .links {
    position: relative;
}

.header .links:hover .icons span:nth-child(2) {
    width: 100%;
}

.header .links .icons {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.header .links .icons span {
    background-color: #222;
    margin-bottom: 5px;
    height: 3px;

}

.header .links .icons span:first-child {
    width: 100%;
}

.header .links .icons span:nth-child(2) {
    width: 60%;
    transition: .5s;
}

.header .links .icons span:last-child {
    width: 100%;
}

.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #acb9a399;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}

.header .links ul::before {
    content: "";
    border: 15px;
    border-color: transparent transparent #acb9a399 transparent;
    border-style: solid;
    position: absolute;
    right: 0px;
    top: -29px;
}

.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #222;
    transition: .3s;
}

.header .links:hover ul {
    display: block;
}

.header .links ul li a:hover {
    padding-left: 30px;
}

.header .links ul li:not(:last-child) {
    border-bottom: 1px solid #DDD;
}

/* End Header */

/* Start Landing Section  */
.landing {
    background-image: url(../media/download.png);
    background-size: cover;
    height: calc(100vh - 90px);
    position: relative;
}

.landing .text {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 320px;
    min-width: 100%;
}

.landing .text h1 {
    margin: 0;
    font-size: 50px;
    font-weight: bold;
    color: var(--main-color);
}

.landing .text p {
    font-size: 19px;
    line-height: var(--p-line);
}

/* End Landing Section */

/* Start Features */

.features {
    background-color: #DDD;
    padding-bottom: var(--section-padding);
    padding-top: var(--section-padding);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20PX;
}

.features .feat {
    padding: 20px;
    text-align: center;
}


.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}

.features .feat p {
    line-height: var(--p-line);
    color: var(--p-color);
    font-size: 16px;
}

/* End Features */

/* Start Services */

.Services .Services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30PX;
    margin-top: 100px;
}

.Services .Services-content .Ser {
    display: flex;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .Services .Services-content .Ser {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

.Services .Services-content .Ser i {
    flex-basis: 60px;

}

.Services .Services-content .Ser .Text {
    flex: 1;
}

.Services .Services-content .Ser .Text h3 {
    margin: 0 0 20px;

}

.Services .Services-content .Ser .Text p {
    color: var(--p-color);
    line-height: var(--p-line);
    font-weight: 300;

}



.Services .Services-content .image {
    text-align: center;
    position: relative;
}


.Services .Services-content .image::before {
    content: "";
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 0;
    z-index: -1;
}

@media (max-width : 1199px) {
    .image-column {
        display: none;
    }
}

.Services .Services-content .image img {
    width: 260px;
    height: 260px;

}

/* End Services */

/* <!-- Start Portfolio --> */

.Portfolio {
    background-color: #DDD;
    padding-bottom: var(--section-padding);
    padding-top: var(--section-padding);
}

.Portfolio .Portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}

.Portfolio .Portfolio-content .card {
    background-color: white;
}

.Portfolio .Portfolio-content .card img {
    max-width: 100%;
}

.Portfolio .Portfolio-content .card .info {
    padding: 20px;
}

.Portfolio .Portfolio-content .card .info h3 {
    margin: 0;
}

.Portfolio .Portfolio-content .card .info p {
    margin-bottom: 0;
    color: var(--p-color);
    line-height: var(--p-line);

}

/* <!-- End Portfolio --> */

/* Start  About */
.About {
    padding-bottom: var(--section-padding);
    padding-top: var((--section-padding) +60px);
}

.About .About-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width : 991px) {
    .About .About-content {
        flex-direction: column;
        text-align: center;
    }
}

.About .About-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}


@media (max-width : 991px) {
    .About .About-content .image {
        margin: 0 auto 60px;
    }
}

.About .About-content .image::before {
    content: "";
    background: #ebeced;
    position: absolute;
    top: -40px;
    width: 100px;
    height: calc(100% + 80px);
    left: -20px;
    z-index: -1;
}

.About .About-content .image::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -150px;
    top: -40px
}


@media (max-width : 991px) {

    .About .About-content .image::before,
    .About .About-content .image::after {
        display: none;
    }
}

.About .About-content .image img {
    width: 250px;
    height: 375px;
}

.About .About-content .text {
    flex-basis: calc(100% - 500px)
}

.About .About-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}

.About .About-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}

.About .About-content .text p:last-of-type {
    line-height: 2;
    color: var(--p-color);
}

/* End  About */

/* Start Contact */

.Contact {
    background-color: #DDD;
    padding-bottom: var(--section-padding);
    padding-top: var(--section-padding);
}

.Contact .info {
    padding-bottom: var(--section-padding);
    padding-top: var(--section-padding);
    text-align: center;
}

.Contact .info .lable {
    font-size: 40px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.Contact .info .link {
    display: block;
    color: var(--main-color);
    font-size: 40px;
    font-weight: 800;
    text-decoration: none;
}

.Contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}

.Contact .info .social i {
    margin-left: 10px;
    color: var(--secondary-color);
}

@media (max-width : 767px) {

    .Contact .info .lable,
    .Contact .info .link {
        font-size: 30px;
    }
}

/* End Contact */

/* Start Footer */
.Footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 30px 0;
    text-align: center;
    font-size: 18px;
}

.Footer span {
    color: var(--main-color);
}

/* End Footer */